.body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #660099;
}

.feed-header, .group-invite {
    background-color: #1b1b1b;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.feed-header.form-control {
    background-color: #fff;
    border: none;
}

.post, .invite-section {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}

.btn.btn-custom {
    background-color: #9933ff;
    color: white;
}

.btn.btn-custom:hover {
    background-color: #bb66ff;
}

.form-control,.btn {
    margin-right: 10px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
    background-color: #660099;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.group-info img {
    width: 50px;
    border-radius: 5px;
}